<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      html,
      body {
        font-family: "Tajawal", sans-serif;
        text-align: center;
      }
    </style>
    <title>جمعية الدعوة</title>
  </head>
  <body>
    <div id="app">
      <div v-if="page === 'homePage'">
        <img :src="logo" alt="logo" />
        <h1>{{app_name}}</h1>
        <button @click="goToLanguagePage" class="btn btn-danger mx-1">
          اضغط هنا
        </button>
      </div>
      <div v-if="page === 'languagePage'">
        <h1>choose Language:</h1>
        <button
          v-for="information in dataLanguages"
          :key="information.id"
          class="btn btn-danger mx-1"
          @click="fetchLanguage(information.name)"
        >
          {{information.name}}
        </button>
      </div>
      <div v-if="page === 'genderPage'">
        <h1>GENDER page</h1>
        <!-- <h1>selected lang: {{selection.language}}</h1> -->
        <button
          v-for="information in dataGender"
          :key="information.id"
          class="btn btn-danger mx-1"
          @click="fetchGender(information.name)"
        >
          {{information.name}}
        </button>
      </div>
      <div v-if="page === 'religionPage'">
        <h1>RELIAGION page</h1>
        <!-- <h1>selected gender: {{selection.gender}}</h1> -->
        <button
          v-for="information in dataReligion"
          :key="information.id"
          class="btn btn-danger mx-1"
          @click="fetchReligion(information.name)"
        >
          {{information.name}}
        </button>
      </div>
      <div v-if="page === 'contentPage'">
        <h1>CONTENT page</h1>
        <button
          v-for="information in dataContent"
          :key="information.id"
          class="btn btn-dark mx-1"
          @click="fetchContent(information.name)"
        >
          {{information.name}}
        </button>
        <!-- <button
          v-for="information in dataReligion"
          :key="information.id"
          class="btn btn-danger mx-1"
          @click="fetchGender(information.name)"
        >
          {{information.name}}
        </button> -->
      </div>
      <div v-if="page === 'Books'">
        <h1>Books page</h1>
        <ul>
          <li>selected lang: {{selection.language}}</li>
          <li>selected gender: {{selection.gender}}</li>
          <li>selected religion: {{selection.religion }}</li>
          <li>selected type: {{selection.type }}</li>
        </ul>
        <div v-if="getFilteringBooks()">
          <a
          v-for="information in getFilteringBooks()"
          :key="information.id"
          class="btn btn-dark mx-1"
          :href="information.url"
          target="_blank"
          >
          {{ information.name}}
        </a>
        </div>
        <div v-else>
          <h5>no books</h5>
        </div>
        <!-- <button
          v-for="data in jsonQuery([selection.language, selection.gender, selection.religion], selection.type )"
          class="btn btn-dark mx-1"
          @click=""
        >
          {{data.name }}
        </button> -->
        
      </div>
      <div v-if="page === 'Videos'">
        <h1>Videos page</h1>

      </div>
      <div v-if="page === 'Questions'">
        <h1>Questions page</h1>
      </div>
      <hr />
      <div v-if="page !== 'homePage'">
        <button class="btn btn-primary" @click="homeButton">home</button>
      </div>
    </div>
    <script>
      let DB = {
        languages: [
          {
            name: "English",
          },
          {
            name: "Arabic",
          },
          {
            name: "Franch",
          },
        ],
        genders: [
          {
            name: "male",
          },
          {
            name: "female",
          },
        ],
        religion: [
          {
            name: "muslim",
          },
          {
            name: "non-muslim",
          },
        ],
        mainContent: [
          {
            id:1,
            name: "Books",
          },
          {
            id:2,
            name: "Videos",
          },
        ],
      };
      let books = {
            data: [
              {
                id:1,
                name: "Book english",
                description: "This book talks about number 1",
                url: "https://www.google.com",
                tag: ["book", "english", "female", "muslim"],
              },
              {
                id:2,
                name: "Book arabic female non-muslim",
                description: "This book talks about number 2",
                url: "Link",
                tag: ["book", "arabic", "female", "non-muslim"],
              },
              {
                id:3,
                name: "Book arabic FEmale non-muslim",
                description: "This book talks about number 2",
                url: "Link",
                tag: ["book", "arabic", "FEmale", "non-muslim"],
              },
              {
                id:4,
                name: "Book franch 1",
                description: "This book talks about number 2",
                url: "Link",
                tag: ["book", "Franch", "male", "muslim"],
              },
              {
                id:5,
                name: "Book franch 1",
                description: "This book talks about number 2",
                url: "Link",
                tag: ["book", "franch", "FEmale", "muslim"],
              },
            ]
      }
    </script>
    <script>
      const { createApp, ref } = Vue;
      const app = Vue.createApp({
        data() {
          return {
            dataLanguages: DB.languages,
            dataGender: DB.genders,
            dataReligion: DB.religion,
            dataContent: DB.mainContent,
            booksContent: books.data,
            app_name: "جمعية الدعوة بالبدائع",
            logo: "https://dawabadaya.org.sa/wp-content/uploads/sites/881/2020/06/شعار-دعوة-البدائع-أفقي-300x86.png",
            page: "homePage",
            selection: {
              language: null,
              gender: null,
              religion: null,
              type: null,
            },
          };
        },
        methods: {
          homeButton(page) {
            this.changePageTo("homePage");
          },
          changePageTo(page) {
            this.page = page;
          },
          goToLanguagePage(e) {
            this.changePageTo("languagePage");
          },
          jsonQuery(list = [], type) {
            // Loop to find which ID has .name
          //  let dataContent = list;
            // dataContent[type].data;

            // console.log(dataContent);

            // Loop to find all the books that contain the tags selected
            // let filteredBooks = dataContent.filter(function ($item) {
            //   return item.data.tag.includes(list);
            // // });
            // return this.dataContent.flatMap(category => {
            //   return category.data.map(item => {
            //     return item.tag.includes(this.selection.language) &&
            //           item.tag.includes(this.selection.gender) &&
            //           item.tag.includes(this.seletion.religion);
            //   });
            // });
            // return dataContent
            
            // console.log(filteredBooks);

          //   newList = DB.filter(function ($item) {
          //     return item.data.tag.includes(list);
          //   });
          //   return newList;
          },
          getFilteringBooks(){
            // return this.books.data
            // return this.booksContent.filter(x => books.tag.includes(this.selection.language , this.selection.religion , this.selection.gender));
            console.log ( this.selection.language , this.selection.religion , this.selection.gender)
            // return books.data
            // let filteredArr = books.data;
            // return filteredArr

            // const tagToFind = "english";
            // const tagsToFind = [ this.selection.language , this.selection.religion , this.selection.gender ];
            // console.log ( this.selection.language , this.selection.religion , this.selection.gender)

            // const filteredBooks = books.data.filter(book =>
            //   tagsToFind.every(tag => book.tag.includes(tag))
            // );
            const tagsToFind = [this.selection.language , this.selection.religion , this.selection.gender].map(tag => tag.toUpperCase());

            const filteredBooks = books.data.filter(book =>
              tagsToFind.every(tag => book.tag.map(t => t.toUpperCase()).includes(tag))
            );
            // const tagsToFind_ = [this.selection.language , this.selection.religion , this.selection.gender];
            // const filteredBooks_ = books.data.filter(book =>
            //   tagsToFind.every(tag => book.tag.includes(tag))
            // );

            // const filteredBook = books.data.filter(book => book.tag.includes(tagToFind));
            console.log ( this.selection.language , this.selection.religion , this.selection.gender)

            if (filteredBooks.length){

              return filteredBooks
            }
           
            
       

            
          },
          fetchLanguage(e) {
            // console.log(e);
            if (e === "English") {
              // console.log("selected english");
              this.selection.language = "english";
              this.changePageTo("genderPage");
            }
            if (e === "Arabic") {
              // console.log("selected arabic");
              this.selection.language = "arabic";
              this.changePageTo("genderPage");
            }
            if (e === "Franch") {
              // console.log("selected Franch");
              this.selection.language = "Franch";
              this.changePageTo("genderPage");
            }
          },
          fetchGender(e) {
            // console.log(e);
            if (e === "male") {
              console.log("selected male");
              this.selection.gender = "male";
              this.changePageTo("religionPage");
            }
            if (e === "female") {
              console.log("selected female");
              this.selection.gender = "female";
              this.changePageTo("religionPage");
            }
          },
          fetchReligion(e) {
            // console.log(e);
            if (e === "muslim") {
              console.log("selected muslim");
              this.selection.religion = "muslim";
              this.changePageTo("contentPage");
            }
            if (e === "non-muslim") {
              console.log("selected non-muslim");
              this.selection.religion = "non-muslim";
              this.changePageTo("contentPage");
            }
          },
          fetchContent(e) {
            if (e === "Books") {
              this.changePageTo("Books");
              this.selection.type = "books";
            }
            if (e === "Videos") {
              this.changePageTo("Videos");
              this.selection.type = "Videos";

            }
            if (e === "Questions") {
              this.changePageTo("Questions");
              this.selection.type = "Quest";

            }
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
